* {
    box-sizing: border-box;
}

button, input[type="submit"] {
    outline: none;
}

.clear {
    clear: both;
}

hr {
    margin-top: 45px;
    margin-bottom: 45px;
    border: 1px solid rgb(77, 250, 8);
}


body {
    color: #2b546a;
    background-color: #ede7d0;
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

h1 {
    font-size: 20px;
    background-color: rgba(77, 250, 8, 0.61);
    color: #ffffff;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
.complete{
    font-size: 20px;
    background-color: rgba(245, 7, 7, 0.63);
    color: #ffffff;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
.warning{
    font-size: 20px;
    color: #d60e0e;
    border: 1px solid #d60e0e
}
.content {
    position: relative;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
}

input {
    border: none;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2em;
    width: 100%;
    padding: 8px;
}

.btn {
    width: 100%;
    background-color: rgba(32, 152, 243, 0.9);
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.btn_next{
    width: 100%;
    background-color: rgba(32, 152, 243, 1.0);
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
}
.btn_next:hover {
    background-color: red;
}
.btn_next:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}
.btn_next {
    float: right;
    width: 48%;
}

.btn:hover {
    background-color: rgba(32, 152, 243, 1.0);
}



.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.next-btn {
    float: right;
    width: 48%;
}

.back-btn {
    width: 48%;
    text-decoration: none;
    text-align: center;
    background-color: rgb(126, 126, 126);
    border-radius: 5px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, .4);
    padding: 15px;
    cursor: pointer;
    display: block;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
}

.back-btn:hover {
    background-color: rgb(42, 43, 42);
}

.back-btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.control {
    margin-bottom: 3em;
}

label {
    display: block;
    margin-bottom: .5em;
}

.required {
    margin-left: .3em;
    color: #f33;
    font-size: .9em;
    padding: 3px;
    background-color: #fee;
    font-weight: bold;
}

.error {
    color: #d60e0e;
    font-size: 60%;
}

.check-info {
    color: #2b546a;
    font-weight: bold;
}

.check-info {
    font-size: 25px;
}

.top_img{
    width: 250px;
    height: auto;
    position:absolute; 
    top:500px; 
    left:130px
    
    
}

.top_img2{
    width: 250px;
    height: auto;
    position:absolute; 
    top:30px; 
    right: 130px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    p {
        font-size: .8em;
    }

    .login-btn {
        padding: 4px 3px 4px 8px;;
        top: 28px;
        line-height: 21px;
    }

    .login-btn:active {
        top: 30px;
    }
    .top_img{
        display: flex;
        flex-wrap: wrap;
    }
    .top_img2{
        display: flex;
        flex-wrap: wrap;
    }
}